<nav class="site-nav">
  <div class="site-link">
    <span><a href="/">Home</a></span>
  </div>

  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="desktop-nav">
    <li><a href="{{site.baseurl}}/pages/about">About</a></li>
    <li><a href="{{site.baseurl}}/pages/work">Work</a></li>
    <li><a href="{{site.baseurl}}/pages/contact">Contact</a></li>
    <li><a href="https://github.com/Ilya-Meer/" target="_blank" rel="noopener">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ilya-meerovich/" target="_blank" rel="noopener">LinkedIn</a></li>
  </ul>
</nav>


<div class="sidebar">
  <div class="close-icon">
    <span></span>
    <span></span>
  </div>
  <ul>
    <li><a href="{{site.baseurl}}/pages/about">About</a></li>
    <li><a href="{{site.baseurl}}/pages/work">Work</a></li>
    <li><a href="{{site.baseurl}}/pages/contact">Contact</a></li>
    <li><a href="https://github.com/Ilya-Meer/" target="_blank" rel="noopener">Github</a></li>
    <li><a href="https://www.linkedin.com/in/ilya-meerovich/" target="_blank" rel="noopener">LinkedIn</a></li>
  </ul>
</div>