body {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 1440px) {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.container {
  padding: 0 1.5rem 2rem 1.5rem;
  opacity: 0;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: .5s;
  @include tablet {
    max-width: 40rem;
    padding: 0 1.5rem 2rem 5rem;
  }
}

.masthead {
  h1 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 200;
  }
  h3 {
    display: none;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.coffee {
  color: darkred;
}