.site-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    padding: 0 5rem;
  }

  ul {
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;
    @include tablet {
      display: flex;
    }
  }

  .site-link, li {
    margin: 0 10px;
    padding: 1.5rem 3px;
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      height: 1px;
      width: 100px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: $gray-3;
      opacity: 0;
      transition: all .2s ease-in-out;
      z-index: -1;
    }

    &:hover {
      a { 
        color: #fff; 
        text-decoration: none;
      }
      &::before {
        content: '';
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: $gray-5;
        opacity: 1;
        transition: all .3s ease-in-out;
      }
    }
  }

  .site-link {
    margin-left: 2rem;
    @include tablet {
      margin-left: 0;
    }
  }
  li:last-of-type {
    @include tablet {
      margin-right: 0;
    }
  }

}

.hamburger {
  display: inline;
  cursor: pointer;
  padding-right: 2rem;
  opacity: 1;
  animation: fadeIn 0.2s linear;
  animation-fill-mode: forwards;
  @include tablet {
    display: none;
  }
  span {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    background: #000;
  }
}



.sidebar {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 2rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background: #000;
  transition: transform .5s ease-in-out;
  animation: slideOut 0.5s;
  animation-fill-mode: forwards;

  .close-icon {
    cursor: pointer;
    padding-right: 2rem;
    span {
      width: 30px;
      height: 3px;
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }

  ul {
    width: 100%;
    list-style: none;
    padding-top: 2rem;
  }
  li {
    margin: 15px 0;
    font-size: 1.5rem;
  }
  a {
    color: #fff;
  }
}

.open {
  display: flex;
  animation: slideIn 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.faded {
  animation: fadeOut 0.2s linear;
  animation-fill-mode: forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}